<app-header (searchChange)="onSearchChange($event)" />

<main class="container-fluid px-4 px-lg-5 py-4 py-lg-5">
  <section class="mb-4">
    <h1 class="fw-bold mb-2">
      Paquetes disponibles
    </h1>

    <p class="text-muted mb-0">
      Explorá nuestras propuestas turísticas y elegí tu próximo destino.
    </p>
  </section>

  <div class="row g-4">
    <aside class="col-12 col-lg-3">
      <app-category-sidebar [selectedCategory]="selectedCategory()"
        (selectedCategoryChange)="onCategoryChange($event)" />
    </aside>

    <section class="col-12 col-lg-9">
      <div class="row g-4">
        @for (pack of packagesResponse().data; track pack.id) {
        <div class="col-12 col-md-6 col-xl-4">
          <app-package-card [pack]="pack" />
        </div>
        }
      </div>

      @if (packagesResponse().data.length === 0) {
      <div class="alert alert-light border text-center py-5">
        <h2 class="h5 fw-bold mb-2">
          No encontramos paquetes
        </h2>

        <p class="text-muted mb-0">
          Probá con otra búsqueda o cambiá la categoría seleccionada.
        </p>
      </div>
      } @else {
      <div class="row g-4">
        @for (pack of packagesResponse().data; track pack.id) {
        <div class="col-12 col-md-6 col-xl-4">
          <app-package-card [pack]="pack" />
        </div>
        }
      </div>

      <app-package-pagination [currentPage]="packagesResponse().page" [totalPages]="packagesResponse().totalPages"
        (pageChange)="goToPage($event)" />

      }
    </section>

  </div>

</main>

<app-footer />
